flask
aiohttp
pyyaml
numpy
soundfile
librosa
scipy
pysilero-vad
hassil
home-assistant-intents>=2026-07-21
speech-to-phrase-lib @ git+https://github.com/OHF-Voice/speech-to-phrase-lib.git
wyoming[zeroconf]
